@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Rethink+Sans&family=Roboto:wght@400;500&display=swap');

a{
    text-decoration: none;
    color: black;
}

.Navigation{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: auto;
    top: 0;
    left: 0;
    right: 0;
    background-color: none;
    padding-bottom: 8px;
    border-width: 2px;
    border-bottom-style: solid;
    border-bottom-color:  black;
    
}

.nav-left{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: black;
    filter: blur(0.5px);
}

.nav-right{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    gap: 30px;
    cursor: pointer;
    font-weight: 500;
    font-size: 10px;
    font-family: 'Rethink Sans',Arial, Helvetica, sans-serif;
    color: white;
}

.nav-right-ui{
    color: black;
}

.nav-right-ui:hover{
    transition:  transform 0.5s ease-out;
    transform: translateY(-10px);
}

.Sign-In{
    color: black;
    font-size: 9px;
    font-weight: 500;
    font-family: 'Rethink Sans', Arial, Helvetica, sans-serif;
    border-style: solid;
    background-color: white;
    border-color: black;
    border-radius: 50px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    cursor: pointer;
}

.Sign-In:hover{
    transition:  transform 0.5s ease-out;
    transform: translateX(15px);
}